[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
htmx = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-htmx = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
